.banner{
    background: url('https://images.unsplash.com/photo-1532710534137-ae0da83eb118?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1167&q=80');
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}