.about{
    background: url('https://i.ibb.co/2jWbZGX/Abstract-Luxury-gradient-Blue-background-Smooth-Dark-blue-with-Black-vignette-Studio-Banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}